.categoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.category img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .categoryContainer {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
  }

/*   .category:hover {
    background: var(--primary-500);
    color: var(--primary-100);
    box-shadow: var(--shadow-3);
    scale: 1.1;
  } */
}
