.article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .image {
    width: 200px;
    height: auto;
    margin-right: 10px;
  }
  
  .article > div {
    display: flex;
    flex-direction: column;
  }
  .article h4 {
    font-weight: 900;
  }
  
  .article h2,
  .article h4,
  .article p {
    margin: 0;
  }
  

  
  .divider {
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    width: 50%; /* Adjust the width as per your preference */
    margin-left: auto;
    margin-right: auto;
  }
  