.article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .image {
    width: 200px;
    height: 150px;
    margin-right: 10px;
    object-fit: cover;
  }
  .article > div {
    display: flex;
    flex-direction: column;
  }
  .article h4 {
    font-weight: 900;
  }
  
  .article h2,
  .article h4,
  .article p {
    margin: 0;
  }  

  
  .divider {
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    width: 50%; /* Adjust the width as per your preference */
    margin-left: auto;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .article {
        flex-direction: column;
        align-items: flex-start;
        
      }
    
      .image {
        width: 100%; /* Image spans the entire width */
        height: 150px;
        margin-right: 0;
        margin-bottom: 10px;
      }
  }
  